body {
  font-family: Montserrat, Arial;
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  height: 100vh;
  overflow: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}