.library-container {
  display: flex;
  background-color: rgb(21, 21, 21);
  border-radius: 10px;
  width: 420px;
  padding-left: 10px;
}

.library-section {
  height: 680px;
  width: 420px;
}

.library-preview {
  display: flex;;
}

.user-library {
  font-size: 14px;
  font-weight: bold;
  padding-top: 28px;
  padding-left: 8px;
  padding-bottom: 18px;
}

.playlist {
  background-color: rgb(30, 30, 30);
  padding-top: 16px;
  padding-left: 18px;
  padding-bottom: 16px;
  margin-top: 36px;
  margin-bottom: 22px;
  margin-right: 8px;
  border-radius: 10px;
}

.playlist-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.playlist-subtitle {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
}

.create-button,
.browse-button {
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.podcast {
  background-color: rgb(30, 30, 30);
  padding-top: 16px;
  padding-left: 18px;
  padding-bottom: 16px;
  margin-bottom: 18px;
  margin-right: 8px;
  border-radius: 10px;
}

.podcast-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.podcast-subtitle {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
}

.library-footer,
.library-cookies {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  padding: 20px;
}

.library-footer {
  margin-top: 40px;
  padding-bottom: 0;
}

.library-footer-info {
  font-size: 10px;
  color: rgb(198, 194, 194);
}

.library-cookies {
  padding-top: 18px;
  margin-top: 0;
}

.library-footer-cookies {
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.library-language {
  display: flex;
  position: relative;
  align-items: center;
}

.language-button {
  background-color: black;
  padding: 6px 20px 6px 35px;
  border-radius: 50px;
  border-color: white;
  border-width: 1px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.language-icon {
  position: absolute;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
