.app {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(to bottom, #191919, #131313);
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 40px;
  column-gap: 16px;
  row-gap: 40px;
}

.trending-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 30px;
  padding-bottom: 22px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.main-header:hover {
  text-decoration: underline;
}

.preview-grid {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.main-preview {
  padding: 10px;
  cursor: pointer;
}

.main-preview:hover {
  background-color: rgb(30, 30, 30);
}

.art-cover {
  position: relative;
}


.single-cover,
.album-cover {
  width: 170px;
  border-radius: 6px;
}

.play-button {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: rgb(65, 187, 65);
  position: absolute;
  border-radius: 25px;
  bottom: 10px;
  right: 8px;
}

.main-preview:hover .play-button {
  opacity: 1;
}

.play-icon {
  height: 36px;
}

.song-info-grid,
.album-info-grid {
  display: flex;
  flex: 170px;
}


.song-title,
.album-title {
  font-size: 15px;
  font-weight: 500;
  padding-top: 8px;
}

.song-artist,
.album-artist {
  font-size: 13px;
  color: rgb(198, 194, 194);
  font-weight: 500;
  padding-top: 8px;
}

.trending-artist-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.artist-profile {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 85px;
}

.artist-info-grid {
  display: flex;
  flex: 1;
}

.artist-name {
  font-size: 15px;
  font-weight: 500;
  padding-top: 8px;
}

.artist-description {
  font-size: 13px;
  color: rgb(198, 194, 194);
  font-weight: 500;
  padding-top: 8px;
}