.main-container {
  display: flex;
  flex: 1;
  background: linear-gradient(to bottom, #252525, #000000);
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 40px;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 30px;
  padding-bottom: 22px;
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.preview-grid {
  display: flex;
}

.main-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.song-cover {
  display: flex;
  flex: 1;
}


.single-cover {
  width: 170px;
  border-radius: 6px;
}

.song-info-grid {
  display: flex;
  flex: 1;
}


.song-title {
  font-size: 15px;
  font-weight: 500;
  padding-top: 8px;
}

.song-artist {
  font-size: 13px;
  color: rgb(198, 194, 194);
  font-weight: 500;
  padding-top: 8px;
}