.app {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(to bottom, #191919, #151515);
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 40px;
  column-gap: 16px;
  row-gap: 40px;
}

.trending-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 30px;
  padding-bottom: 22px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.preview-grid {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.song-cover {
  position: relative;
}


.single-cover,
.album-cover {
  width: 170px;
  border-radius: 6px;
}

.song-info-grid,
.album-info-grid {
  display: flex;
  flex: 170px;
}


.song-title,
.album-title {
  font-size: 15px;
  font-weight: 500;
  padding-top: 8px;
}

.song-artist,
.album-artist {
  font-size: 13px;
  color: rgb(198, 194, 194);
  font-weight: 500;
  padding-top: 8px;
}

.trending-artist-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.artist-cover {
  display: flex;
  flex: 1;
}

.artist-profile {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 85px;
}

.artist-info-grid {
  display: flex;
  flex: 1;
}

.artist-name {
  font-size: 15px;
  font-weight: 500;
  padding-top: 8px;
}

.artist-description {
  font-size: 13px;
  color: rgb(198, 194, 194);
  font-weight: 500;
  padding-top: 8px;
}